<!-- <div class="card h-100" 
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="inFocus ? 'shadow': ''"
> -->
<div class="card h-100" appHighlightable [appHighlightableClass]="'shadow-lg'">
  <a><img class="card-img-top" [src]="course.imgUrl" alt=""/></a>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/course-details', course.title]">{{
        course.title | titlecase
      }}</a>
    </h4>
    <h5>{{ course.price | currency: "USD" }}</h5>
    <p class="card-text">{{ course.description | ellipsis: 70:"..." }}</p>
  </div>
  <div 
  *ngIf="!editable"
  class="card-footer">
    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
  </div>
  <div 
  *ngIf="editable"
  class="card-footer">
    <div class="btn-group">
        <button 
        (click)="onEdit()"
        type="button" class="btn btn-outline-primary">Edit</button>
        <button 
        (click)="onDelete()"
        type="button" class="btn btn-outline-danger">Remove</button>
    </div>
</div>
</div>
